
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Alan.cshtml";
    // var processes = (List<System.Diagnostics.Process>) ViewBag.SystemProcesses;
}


<h2>Content</h2>
<p>@ViewData["data"];</p>

@Html.Partial("_HelloPartial")
